---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Stories';

const allPosts = Object.values(import.meta.glob('./stories/*.md', { eager: true }));
const sortedPosts = allPosts.sort((a, b) => {
  const dateStringA = `${a.frontmatter.pubMonth}/${a.frontmatter.pubDay}/${a.frontmatter.pubYear}`;
  const dateStringB = `${b.frontmatter.pubMonth}/${b.frontmatter.pubDay}/${b.frontmatter.pubYear}`;

  if (dateStringA < dateStringB) return 1;
  if (dateStringA > dateStringB) return -1;
  if (dateStringA === dateStringB) {
    if (a.frontmatter.title > b.frontmatter.title) return 1;
    if (a.frontmatter.title < b.frontmatter.title) return -1;
    return 0;
  }
});
---
<BaseLayout pageTitle={pageTitle}>
  <ul class="link-list">
    {sortedPosts.map((post: any) => {
      return (
        <li class="link-list-item">
          <a href={post.url}>
            <div>
              <h3>
                {post.frontmatter.title}
              </h3>
              <p class="link-list-item-date">
                {post.frontmatter.pubMonth}/{post.frontmatter.pubDay}/{post.frontmatter.pubYear}
              </p>
              <p>
                {post.frontmatter.description}
              </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
      );
    })}
  </ul>
</BaseLayout>